# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual documents
.virtual_documents/

# Batch files
*.bat

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/
*.code-workspace
